# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @bohm0072 will be requested for
# review when someone opens a pull request.
*       @bohm0072
